<div [class]="menuPosition">
  <ion-button
    fill="clear"
    [id]="buttonId"
    class="button-solid"
    [ngStyle]="{ '--button-solid-color': buttonSolidColor }"
    ><img class="three-dots"
  /></ion-button>
  <ion-popover
    [class]="menuClass"
    [trigger]="triggerId"
    [side]="side"
    [size]="size"
    [alignment]="alignment"
  >
    <ng-template>
      <ion-content
        ><ion-list
          lines="none"
          *ngFor="let p of appPages; let i = index"
          class="ion-list"
        >
          <ion-item
            class="ion-item"
            [button]="true"
            [detail]="false"
            [class.active]="isCurrentPage(p.url)"
            (click)="onLinkClick(p.url)"
          >
            <a [routerLink]="p.url">{{ p.title }}</a></ion-item
          >
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</div>
