<ion-content [fullscreen]="true">
  <div class="page-wrapper">
    <app-flouze-logo class="login-page-logo"></app-flouze-logo>
    <div class="titles-display">
      <p class="big-title">Mot de passe oublié ?</p>
      <p class="subtitle">Pas de panique !</p>
    </div>

    <div class="input-container">
      <ion-input
        aria-label="Email input"
        type="email"
        fill="outline"
        placeholder="Email"
        class="custom"
      ></ion-input>
    </div>
    <app-main-button
      class="main-button"
      [buttonTitle]="'Recevoir un code de connexion'"
    ></app-main-button>
    <div class="linkbox">
      <p class="linkbox__text">Pas encore de compte ?</p>
      <a class="linkbox__link" href=""> S’inscrire</a>
    </div>
  </div>
</ion-content>
