.main-button {
  width: 100%;
  margin-top: 10vh;
}

.required:after {
  content: " *";
  color: red;
}
.page-wrapper {
  background-color: var(--ion-color-lightcream);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: justify;
  padding-top: 0%;
}
.homepage-wrapper {
  background-color: var(--ion-color-lightcream);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding-top: 0%;
}

.homepage-header {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-lightcream);
  position: absolute;
  top: 0;
  height: 20%;
  width: 100%;
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 0%;
}

.homepage-content {
  color: var(--ion-color-lightcream);
  position: absolute;
  top: 20%;
  height: 80%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
  padding-top: 0%;
}

.host {
  --background: var(--ion-color-lightcream);
}

ion-select {
  background: #ffffff;
  color: var(--ion-color-medium-tint);
  --placeholder-color: var(--ion-color-medium-shade);
  --placeholder-opacity: 0.8;
  --padding-bottom: 15px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 15px;
  margin-bottom: 15px;
  font-family: var(--ion-font-family-body);
  --highlight-color-focused: var(--ion-color-lightcream-shade);
  --border-color: var(--ion-color-lightcream-shade);
  ::part(placeholder) {
    color: red;
    font-size: 24px;
    font-weight: 500;
    font-family: Castoro;
  }

  //still trying to change popover content
  .radio-wrapper {
    color: red;
  }
}

ion-datetime {
  font-family: "Urbanist";
  background-color: var(--ion-color-lightcream);
}
