<ion-content [fullscreen]="true">
  <div class="homepage-wrapper">
    <div class="homepage-header">
      <app-dropdown-menu
        [buttonSolidColor]="'var(--ion-color-lightcream)'"
      ></app-dropdown-menu>
      <h1 class="medium-title">Nouvelle dépense</h1>
    </div>
  </div>
  <div class="homepage-content">
    <ion-content [fullscreen]="true">
      <div class="page-wrapper">
        <div class="input-container">
          <ion-input
            class="required"
            aria-label="Name input"
            type="text"
            fill="outline"
            placeholder="Nom"
            class="custom"
          ></ion-input>

          <ion-input
            aria-label="Client input"
            type="text"
            fill="outline"
            placeholder="Client"
            class="custom"
          >
            <ion-icon slot="end" name="star-outline" color="warning"></ion-icon>
          </ion-input>
          <ion-input
            aria-label="category input"
            type="number"
            fill="outline"
            placeholder="Montant"
            class="custom"
          >
          </ion-input>
          <ion-input
            aria-label="Expense amount input"
            type="number"
            fill="outline"
            placeholder="Montant"
            class="custom"
          >
          </ion-input>
        </div>
        <app-main-button
          class="main-button"
          [buttonTitle]="'Envoyer'"
        ></app-main-button>
      </div>
    </ion-content>
  </div>
</ion-content>
