// a {
//     text-decoration: none;
//     color: var(--ion-color-dark);
//   }

//   a:hover {
//     color: var(--ion-color-dark-shade);
//     background-color: var(--ion-color-lightcream);
//     cursor: pointer;
//   }
.main-button {
  width: 100%;
  margin-top: 10vh;
}

.required:after {
  content: " *";
  color: red;
}
.page-wrapper {
  background-color: var(--ion-color-lightcream);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: justify;
  padding-top: 0%;
}
.homepage-wrapper {
  background-color: var(--ion-color-lightcream);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding-top: 0%;
}
.iconEye {
  font-size: 24px;
  padding-left: 4px;
  padding-top: 12px;
  vertical-align: middle;
}

.homepage-header {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-lightcream);
  position: absolute;
  top: 0;
  height: 20%;
  width: 100%;
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 0%;
}

.homepage-content {
  color: var(--ion-color-lightcream);
  position: absolute;
  top: 20%;
  height: 80%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
  padding-top: 0%;
}

.host {
  --background: var(--ion-color-lightcream);
}

ion-select {
  background: #ffffff;
  transform: none;
  color: var(--ion-color-medium-tint);
  --placeholder-color: var(--ion-color-medium-shade);
  --placeholder-opacity: 0.8;
  --padding-bottom: 15px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 15px;
  margin-bottom: 15px;
  font-family: var(--ion-font-family-body);
  --highlight-color-focused: var(--ion-color-lightcream-shade);
  border-color: var(--ion-color-lightcream-shade);
}
.select-fill-outline.sc-ion-input-md-h {
  --border-color: var(--ion-color-lightcream-shade);
}

.select-wrapper {
  border-color: var(--ion-color-lightcream-shade);
  color: var(--ion-color-medium-tint);
  padding-inline-start: var(--padding-start);
  padding-inline-end: var(--padding-end);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  border-radius: 20px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  height: inherit;
  min-height: inherit;
  transition: background-color 15ms linear 0s;
  background: var(--background);
  line-height: normal;
  cursor: inherit;
  box-sizing: border-box;
}
