// a {
//     text-decoration: none;
//     color: var(--ion-color-dark);
//   }

//   a:hover {
//     color: var(--ion-color-dark-shade);
//     background-color: var(--ion-color-lightcream);
//     cursor: pointer;
//   }
.main-button {
  width: 100%;
  margin-top: 10vh;
}

.required:after {
  content: " *";
  color: red;
}
.page-wrapper {
  background-color: var(--ion-color-lightcream);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: justify;
  padding-top: 0%;
}
.homepage-wrapper {
  background-color: var(--ion-color-lightcream);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding-top: 0%;
}
.iconEye {
  font-size: 24px;
  padding-left: 4px;
  padding-top: 12px;
  vertical-align: middle;
}

ion-item {
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid #eac402;
  --highlight-height: 0px;
  --highlight-color-valid: #eac402;
  --highlight-color-focused: #eac402;
  --highlight-color-invalid: #eac402;
}
.homepage-header {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-lightcream);
  position: absolute;
  top: 0;
  height: 20%;
  width: 100%;
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 0%;
}

.homepage-content {
  color: var(--ion-color-lightcream);
  position: absolute;
  top: 20%;
  height: 80%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
  padding-top: 0%;
}

.host {
  --background: var(--ion-color-lightcream);
}
