<ion-content [fullscreen]="true">
  <div class="page-wrapper">
    <app-flouze-logo class="login-page-logo"></app-flouze-logo>
    <div class="input-container">
      <ion-input
        aria-label="Email input"
        type="email"
        fill="outline"
        placeholder="Email"
        class="custom"
      ></ion-input>
      <ion-input
        aria-label="Password input"
        type="password"
        fill="outline"
        placeholder="Mot de passe"
        class="custom"
      >
      </ion-input>
      <a class="sublink" href="">Mot de passe oublié ?</a>
    </div>
    <app-main-button
      (onClick)="redirectWelcomeLogin()"
      class="main-button"
      [buttonTitle]="'Connexion'"
    ></app-main-button>
    <div class="linkBox">
      <p class="linkBoxText">Pas encore de compte ?</p>
      <ion-button class="linkBoxButton" (click)="redirectRegister()"
        >S'inscrire</ion-button
      >
    </div>
  </div>
</ion-content>
