
.main-button {
    display: flex;
    justify-content: center;
    position : relative;
    margin:auto;
    top: 35%;
    align-items: center;
    width: 100%;


}
.login-page-logo {
    display: flex;
    justify-content: center ;
    align-items: flex-start;
    position : absolute;
    top:5%;
    margin:0;
    height: 15%;
    width: 20%;
}

