<ion-content [fullscreen]="true">
  <div class="homepage-wrapper">
    <div class="homepage-header">
      <app-dropdown-menu
        [buttonSolidColor]="'var(--ion-color-lightcream)'"
      ></app-dropdown-menu>

      <h1 class="medium-title">Afficher mes dépenses et revenus par période</h1>
      <div class="date-menu-wrapper"></div>
    </div>
  </div>
  <div class="homepage-content">
    <ion-item class="date-container">
      <ion-label>Du :</ion-label>
      <ion-datetime-button datetime="datetimeStart"></ion-datetime-button>
      <!-- </ion-item> -->
      <!-- <ion-item class="date-container"> -->
      <ion-label>Au: </ion-label>
      <ion-datetime-button datetime="datetimeEnd"></ion-datetime-button>
    </ion-item>

    <ion-button expand="full" (click)="submitDates()">Valider</ion-button>

    <ion-modal
      [keepContentsMounted]="true"
      [isOpen]="showStartModal"
      (didDismiss)="closeStartModal()"
    >
      <ng-template>
        <ion-datetime
          id="datetimeStart"
          presentation="date"
          min="1997"
          max="2010"
          [(ngModel)]="dateStart"
          (ionChange)="updateDateStart($event)"
        ></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-modal
      [keepContentsMounted]="true"
      [isOpen]="showEndModal"
      (didDismiss)="closeEndModal()"
    >
      <ng-template>
        <ion-datetime
          id="datetimeEnd"
          presentation="date"
          [(ngModel)]="dateEnd"
          (ionChange)="updateDateEnd($event)"
        ></ion-datetime>
      </ng-template>
    </ion-modal>

    <h3 class="small-subtitle">[Date selon menu]</h3>

    <ion-card class="expense-card">
      <ion-row class="ion-align-items-center">
        <ion-card-content class="expense-type">dépenses : </ion-card-content>
        <ion-card-content class="expense-amount" aria-live="polite"
          >- 0€</ion-card-content
        >
      </ion-row>
      <ion-icon
        aria-label="add expense"
        class="add-icon"
        name="add-circle-outline"
        style="zoom: 2"
      ></ion-icon>
    </ion-card>

    <ion-card class="income-card">
      <ion-row class="ion-align-items-center">
        <ion-card-content class="expense-type">recettes : </ion-card-content>
        <ion-card-content class="expense-amount" aria-live="polite"
          >+ 0€</ion-card-content
        >
      </ion-row>
      <ion-icon
        aria-label="add expense"
        class="add-icon"
        name="add-circle-outline"
        style="zoom: 2"
      ></ion-icon>
    </ion-card>
    <h2 class="page-title">Mon solde actuel :</h2>
    <app-flouze-logo-plain class="homepage-logo"></app-flouze-logo-plain>
    <p class="money-numbers" aria-live="polite">1200 €</p>
  </div>
</ion-content>
