<ion-content [fullscreen]="true">
  <div class="homepage-wrapper">
    <div class="homepage-header">
      <app-dropdown-menu
        [buttonSolidColor]="'var(--ion-color-primary)'"
      ></app-dropdown-menu>

      <h1 class="medium-title">Mon historique :</h1>
      <div class="select-dates">
        <ion-item lines="none" class="date-container">
          <ion-label class="from-to">Du :</ion-label>
          <ion-datetime-button datetime="datetimeStart"></ion-datetime-button>
        </ion-item>
        <ion-item lines="none" class="date-container">
          <ion-label class="from-to">Au : </ion-label>
          <ion-datetime-button datetime="datetimeEnd"></ion-datetime-button>
        </ion-item>
        <ion-button
          class="send-date-button"
          expand="full"
          (click)="submitDates()"
          fill="clear"
          ><ion-icon
            class="send-date-icon"
            slot="icon-only"
            name="checkmark-circle"
            style="zoom: 1.3"
          ></ion-icon
        ></ion-button>
      </div>

      <ion-modal
        [keepContentsMounted]="true"
        [isOpen]="showStartModal"
        (didDismiss)="closeStartModal()"
      >
        <ng-template>
          <ion-datetime
            id="datetimeStart"
            presentation="date"
            min="2000"
            max="dateStart"
            [(ngModel)]="dateStart"
            (ionChange)="updateDateStart($event)"
          >
            <span slot="title">Début de la période</span></ion-datetime
          >
        </ng-template>
      </ion-modal>

      <ion-modal
        [keepContentsMounted]="true"
        [isOpen]="showEndModal"
        (didDismiss)="closeEndModal()"
      >
        <ng-template>
          <ion-datetime
            id="datetimeEnd"
            presentation="date"
            [(ngModel)]="dateEnd"
            (ionChange)="updateDateEnd($event)"
            ><span slot="title">Fin de la période</span></ion-datetime
          >
        </ng-template>
      </ion-modal>
    </div>

    <div class="homepage-content">
      <ion-list class="history-list">
        <ion-item-group *ngFor="let transaction of Transactions; let i = index">
          <ion-item-divider
            class="date-section"
            *ngIf="i === 0 || transaction.date !== Transactions[i - 1].date"
          >
            <ion-label class="date">{{ transaction.date }}</ion-label>
          </ion-item-divider>

          <ion-item class="income-expense-section">
            <ion-label class="income-expense">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="0.7" class="income-expense-icon">
                    <ion-icon
                      aria-label="category color"
                      class="category-color-icon"
                      name="ellipse"
                      style="zoom: 0.8"
                      [style.color]="transaction.color"
                    ></ion-icon
                  ></ion-col>
                  <ion-col size="5.3" class="income-expense-title"
                    >{{ transaction.description }}</ion-col
                  >
                  <ion-col size="6" class="income-expense-amount"
                    >{{ transaction.amount }}</ion-col
                  > </ion-row
                ><ion-row class="ion-align-items-center"
                  ><ion-col class="income-expense-seller-buyer"
                    >{{ transaction.supplier }}</ion-col
                  ></ion-row
                >
              </ion-grid>
            </ion-label>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </div>
  </div>
</ion-content>
