.homepage-wrapper {
  background-color: var(--ion-color-lightcream);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.homepage-header {
  background-color: var(--ion-color-lightcream);
  color: var(--ion-color-primary);
  position: absolute;
  top: 0;
  height: 20%;
  width: 100%;
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.medium-title {
  color: var(--ion-color-primary);
}
.date-menu-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  height: 15%;
  position: absolute;
  bottom: 0;
}

.date-container {
  --border: none;
  justify-content: center;
  height: 15%;
  min-height: 50px;
  width: 95%;
  max-width: 600px;
  overflow: hidden;
  align-items: center;
  display: flex;
  position: relative;
  font-family: Urbanist;
  --ion-item-background: transparent;
  --inner-padding-end: 0px;
}
ion-datetime {
  font-family: "Urbanist";
  background-color: var(--ion-color-lightcream);
}
ion-datetime-button::part(native) {
  background: var(--ion-color-primary);
  color: var(--ion-color-lightcream);
  font-family: "Urbanist-SemiBold";
}
.select-dates {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 360px;
}
ion-item::part(native) {
  width: 100%;
  padding-right: 5%px;
}
.from-to {
  --color: var(--ion-color-primary);
  font-family: "Urbanist-SemiBold";
  width: fit-content;
}
.send-date-button {
  color: var(--ion-color-primary);
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: fit-content;
}
.send-date-icon {
  margin: 0;
  padding: 0;
}
.homepage-content {
  background-color: var(--ion-color-lightcream);
  position: absolute;
  top: 20%;
  height: 80%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
}

.history-list {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  background-color: var(--ion-color-lightcream-shade);
}

.date-section {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-lightcream);
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 20px;
  --padding-end: 20px;
  --margin-top: 0px;
}

.date {
  font-family: "Urbanist-Light";
  font-size: 1em;
  color: var(--ion-color-lightcream);
}
ion-grid {
  --ion-grid-padding: 0px;
  --ion-grid-column-padding: 0;
  --ion-grid-columns: 12;
}
.income-expense-section {
  --background: var(--ion-color-lightcream);
}
.income-expense {
  font-family: "Urbanist";
  font-size: 1em;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.income-expense-title {
  color: var(--ion-color-dark);
  font-family: "Urbanist";
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 0.9em;
}
.income-expense-amount {
  color: var(--ion-color-dark);
  font-family: "Castoro";
  text-align: end;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 0.9em;
}
.income-expense-seller-buyer {
  color: var(--ion-color-medium);
  font-family: "Urbanist-Light";
  font-style: italic;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 0.9em;
}

.income-expense-icon {
  width: 5px;
}

.ion-icon {
  color: red;
}
