/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 * {
    --background: var(--ion-color-lightcream);
    font-family: "Urbanist", sans-serif;


  }

  .flex-center {
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

    

  @font-face {
    font-family: 'Castoro';
    src: url('./assets/Castoro/Castoro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Playfair-Display';
  src: url('./assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('./assets/Urbanist/Urbanist-Regular.woff2') format('woff2'),
      url('./assets/Urbanist/Urbanist-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist-Italic';
  src: url('./assets/Urbanist/Urbanist-Italic.woff2') format('woff2'),
      url('./assets/Urbanist/Urbanist-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist-Bold';
  src: url('./assets/Urbanist/Urbanist-Bold.woff2') format('woff2'),
      url('./assets/Urbanist/Urbanist-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist-Light';
  src: url('./assets/Urbanist/Urbanist-Light.woff2') format('woff2'),
      url('./assets/Urbanist/Urbanist-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist-Black';
  src: url('./assets/Urbanist/Urbanist-Black.woff2') format('woff2'),
      url('./assets/Urbanist/Urbanist-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Urbanist-SemiBold';
  src: url('./assets/Urbanist/Urbanist-SemiBold.woff2') format('woff2'),
      url('./assets/Urbanist/Urbanist-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist-Medium';
  src: url('./assets/Urbanist/Urbanist-Medium.woff2') format('woff2'),
      url('./assets/Urbanist/Urbanist-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist-Extraligh';
  src: url('./assets/Urbanist/Urbanist-ExtraLight.woff2') format('woff2'),
      url('./assets/Urbanist/Urbanist-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}



/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
