// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {

	--ion-color-primary: #306050;
	--ion-color-primary-rgb: 48,96,80;
	--ion-color-primary-contrast: #FFF8F2;
	--ion-color-primary-contrast-rgb: 255,248,242;
	--ion-color-primary-shade: #0a1411;
	--ion-color-primary-tint: #457062;

	--ion-color-vividPink: #FF008A;
	--ion-color-vividPink-rgb: 255,0,138;
	--ion-color-vividPink-contrast: #421313;
	--ion-color-vividPink-contrast-rgb: 66, 19, 19;
	--ion-color-vividPink-shade: #e00079;
	--ion-color-vividPink-tint: #ff1a96;

	--ion-color-vividOrange: #FF3D00;
	--ion-color-vividOrange-rgb: 255,61,0;
	--ion-color-vividOrange-contrast: #421313;
	--ion-color-vividOrange-contrast-rgb: 66, 19, 19;
	--ion-color-vividOrange-shade: #e03600;
	--ion-color-vividOrange-tint: #ff501a;

    --ion-color-simplewhite: #ffffff;
	--ion-color-simplewhite-rgb: 255,255,255;
	--ion-color-simplewhite-contrast: #421313;
	--ion-color-simplewhite-contrast-rgb: 66,19,19;
	--ion-color-simplewhite-shade: #e0e0e0;
	--ion-color-simplewhite-tint: #ffffff;
    
	--ion-color-lightcream: #FFF8F2;
	--ion-color-lightcream-rgb: 255,248,242;
	--ion-color-lightcream-contrast: #421313;
	--ion-color-lightcream-contrast-rgb: 66,19,19;
	--ion-color-lightcream-shade: #e2d8d0;
	--ion-color-lightcream-tint: #fff9f3;

	--ion-color-lightgreen: #E8FFEA;
	--ion-color-lightgreen-rgb: 232,255,234;
	--ion-color-lightgreen-contrast: #421313;
	--ion-color-lightgreen-contrast-rgb: 66,19,19;
	--ion-color-lightgreen-shade: #cce0ce;
	--ion-color-lightgreen-tint: #eaffec;

    --ion-color-lightpink: #FFDCEF;
	--ion-color-lightpink-rgb: 232,255,234;
	--ion-color-lightpink-contrast: #421313;
	--ion-color-lightpink-contrast-rgb: 66,19,19;
	--ion-color-lightpink-shade: #e0c2d2;
	--ion-color-lightpink-tint: #ffe0f1;

	--ion-color-dark: #421313;
	--ion-color-dark-rgb: 66,19,19;
	--ion-color-dark-contrast: #FFF8F2;
	--ion-color-dark-contrast-rgb:255,248,242;
	--ion-color-dark-shade: #3a1111;
	--ion-color-dark-tint: #552b2b;

    --ion-color-medium: #6A707C;
	--ion-color-medium-rgb: 106, 112, 124;
	--ion-color-medium-contrast: #FFF8F2;
	--ion-color-medium-contrast-rgb: :255,248,242;
	--ion-color-medium-shade: #5d636d;
	--ion-color-medium-tint: #6D7A88;

	--ion-font-family-maintitle: 'Castoro', 'Georgia', serif;
	--ion-font-family-body: 'Urbanist', 'Geneva' , 'Verdana', sans serif;



}
