.money-card {
  height: auto;
  min-height: 50px;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1vh solid rgb(255, 255, 255);
  margin: 0;
  flex: 1;
  padding: 0;
}

.money-card p {
  margin: 0;
}

.expense-amount {
  margin-left: auto;
  font-family: "Castoro";
  font-size: 2rem;
  margin-right: 20vw;
  text-align: center;
  width: 50%;
}

.expense-type {
  margin-right: auto;
  margin-left: 20vw;
  font-size: 1.2rem;
  flex: 1;
  text-align: center;
  width: 50%;
}

.ion--ellipsis-horizontal {
  position: absolute;
  bottom: 0;
  right: 0.4rem;
  width: 18px;
  height: 18px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Ccircle cx='256' cy='256' r='48' fill='%23000'/%3E%3Ccircle cx='416' cy='256' r='48' fill='%23000'/%3E%3Ccircle cx='96' cy='256' r='48' fill='%23000'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
