.loader-page {
    display:flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size : 19px;
    
    &__logo-holder {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position : relative;
        top: 30%;
        margin: 0;
        bottom: 0;
        width: 100%;
        height: 20vh;
      
        &__logo {
            max-height: 20vh;
            max-width: auto;
            margin-bottom: 0;

        }

        &__main-title {
            max-height: 20vh;
            max-width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 95%;
            margin-top:0;
            font-family: "--ion-font-family-maintitle";
            font-weight: 400;
            font-size: 1em; 
            letter-spacing: 0.3em; 
            color: var(--ion-color-vividPink);
            }
    }


    &__spinner-holder {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position : relative;
        top: 40%;
        width: 100%;
        height: 4vh;

        &__spinner {
            --color: var(--ion-color-vividPink);
         }
    }



}



