

    .spinner-holder {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position : relative;
        top: 8%;
        width: 100%;
        height: 4vh;
      
        &__spinner {
            --color: var(--ion-color-vividPink);
         }
    }

    .loader-page-logo {
        display: flex;
        justify-content: center ;
        align-items: flex-start;
        position : absolute;
        top:30%;
        margin:0;
        height: 20%;
        width: 30%;
    }







