
.loader-page-logo {
    margin:0;
    width: 30%;
    max-width: 100px;
}

.spinner-holder {
    padding-top:5%;
    max-width: 30px;

    
    &__spinner {
        --color: var(--ion-color-vividPink);
        }
}








