<ion-content [fullscreen]="true">
  <div class="homepage-wrapper">
    <div class="homepage-header">
      <p class="medium-title">Afficher mes dépenses et revenus par :</p>
      <div class="date-menu-wrapper">
        <button class="small-button">jour</button>
        <button class="small-button">semaine</button>
        <button class="small-button">mois</button>
        <button class="small-button">année</button>
      </div>
    </div>
    <p class="big-title">Bienvenue, Username !</p>
  </div>
</ion-content>
